.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-name {
  padding-left: 4px;
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 36px;
}

.profile-avatar {
  width: 150px;
  text-align: center;
}

.profile-left {
  width: 100%;
}

.profile-avatar img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
}

.profile-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6px;
}

.profile-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.profile-item svg {
  font-size: 18px;
}

.profile-item a {
  color: rgba(0,0,0,.85)
}
